// =================================================================
// Custom Scroll Style
// =================================================================

// Y축 스크롤 생성 스타일
.scroll-y
  .mCSB_inside
    > .mCSB_container
      padding-right: 20px
    > .mCS_y_hidden
      padding-right: 0

// X축 스크롤 생성 스타일
.scroll-x
  .mCSB_inside
    > .mCSB_container
      padding-bottom: 20px
    > .mCS_y_hidden
      padding-right: 0