{
  // 기본 옵션
  'functions': true,
  'variableNameTransforms': ['dasherize']
}

// -----------------------------------------------------------------------------------
// [출처] https://github.com/twolfson/spritesheet-templates/blob/9.3.1/lib/templates/stylus.template.handlebars
// -----------------------------------------------------------------------------------

{{#block "sprites-comment"}}
// -----------------------------------------------------------------------------------
// 스프라이트 이미지 변수 목록
// -----------------------------------------------------------------------------------

// 개별 속성 설정 방법
// 개별 속성에 Sass 아이콘 변수를 적용하여 설정
///////////////////////////////////////////////////////////////////////////////////////
// .icon-home
//   width: $icon-home-width
//   height: $icon-home-height
///////////////////////////////////////////////////////////////////////////////////////
{{/block}}

{{#block "sprites"}}
///////////////////////////////////////////////////////////////////////////////////////
// 스프라이트 이미지 정보 개별 변수
///////////////////////////////////////////////////////////////////////////////////////
// 좌표 x y
// 옵셋 x y
// 개별 이미지 수치 width height
// 스프라이트 이미지 수치 total_width total_height
// 이미지 경로 image_path
///////////////////////////////////////////////////////////////////////////////////////
{{#each sprites}}
${{strings.name_name}}: '{{name}}'
${{strings.name_x}}: {{px.x}}
${{strings.name_y}}: {{px.y}}
${{strings.name_offset_x}}: {{px.offset_x}}
${{strings.name_offset_y}}: {{px.offset_y}}
${{strings.name_width}}: {{px.width}}
${{strings.name_height}}: {{px.height}}
${{strings.name_total_width}}: {{px.total_width}}
${{strings.name_total_height}}: {{px.total_height}}
${{strings.name_image}}: '{{{escaped_image}}}'

// 스프라이트 이미지 통합 변수
///////////////////////////////////////////////////////////////////////////////////////
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
///////////////////////////////////////////////////////////////////////////////////////
${{strings.name}}: ({{px.x}}, {{px.y}}, {{px.offset_x}}, {{px.offset_y}}, {{px.width}}, {{px.height}}, {{px.total_width}}, {{px.total_height}}, '{{{escaped_image}}}', '{{name}}', )

///////////////////////////////////////////////////////////////////////////////////////
{{/each}}
{{/block}}

{{#block "spritesheet"}}
///////////////////////////////////////////////////////////////////////////////////////
// 스프라이트 이미지 통합 정보를 담은 리스트
///////////////////////////////////////////////////////////////////////////////////////
// $spritesheet: width height image $spritesheet-sprites
///////////////////////////////////////////////////////////////////////////////////////
${{spritesheet_info.strings.name_width}}: {{spritesheet.px.width}}
${{spritesheet_info.strings.name_height}}: {{spritesheet.px.height}}
${{spritesheet_info.strings.name_image}}: '{{{spritesheet.escaped_image}}}'
${{spritesheet_info.strings.name_sprites}}: ({{#each sprites}}${{strings.name}}, {{/each}})
${{spritesheet_info.strings.name}}: ({{spritesheet.px.width}}, {{spritesheet.px.height}}, '{{{spritesheet.escaped_image}}}', ${{spritesheet_info.strings.name_sprites}}, )
{{/block}}

{{#block "sprite-functions"}}
{{#if options.functions}}
///////////////////////////////////////////////////////////////////////////////////////
// 스프라이트 개별 속성 믹스인
// @include sprite-width()
// @include sprite-height()
// @include sprite-position()
// @include sprite-image()
///////////////////////////////////////////////////////////////////////////////////////
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

///////////////////////////////////////////////////////////////////////////////////////
// 스프라이트 개별 믹스인
// @include sprite()
///////////////////////////////////////////////////////////////////////////////////////
@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)
{{/if}}
{{/block}}

{{#block "sprite-functions-comment"}}
{{#if options.functions}}
// -----------------------------------------------------------------------------------
// 스프라이트 이미지 개별 믹스인 sprite() 사용법
// -----------------------------------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////
// <폴더명-이미지명>
// 개별 속성
// .icon-home
//   @include sprite-width($icon-home)
//   @include sprite-height($icon-home)

// 개별
// .icon-email
//   @include sprite($icon-email)
//////////////////////////////////////////////////////////////////////////////////////

// -----------------------------------------------------------------------------------
// HTML 마크업 사용법
// -----------------------------------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////
//   <div class="icon-home"></div>
//////////////////////////////////////////////////////////////////////////////////////
{{/if}}
{{/block}}

{{#block "spritesheet-functions"}}
{{#if options.functions}}
///////////////////////////////////////////////////////////////////////////////////////
// 스프라이트 통합 믹스인
// +sprites(<리스트>)
///////////////////////////////////////////////////////////////////////////////////////
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      display: inline-block
      @include sprite($sprite)
{{/if}}
{{/block}}

{{#block "spritesheet-functions-comment"}}
{{#if options.functions}}
// -----------------------------------------------------------------------------------
// 스프라이트 이미지 통합 믹스인 sprites() 사용법
// -----------------------------------------------------------------------------------
// 자동으로 스프라이트 이미지 CSS 코드가 생성되지 않게 하려면 아래 코드를 주석으로 처리
+sprites(${{spritesheet_info.strings.name_sprites}})
{{/if}}
{{/block}}
