// -----------------------------------------------------------------------------------
// [출처] https://github.com/twolfson/spritesheet-templates/blob/9.3.1/lib/templates/stylus.template.handlebars
// -----------------------------------------------------------------------------------

// -----------------------------------------------------------------------------------
// 스프라이트 이미지 변수 목록
// -----------------------------------------------------------------------------------

// 개별 속성 설정 방법
// 개별 속성에 Sass 아이콘 변수를 적용하여 설정
///////////////////////////////////////////////////////////////////////////////////////
// .icon-home
//   width: $icon-home-width
//   height: $icon-home-height
///////////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////////////
// 스프라이트 이미지 정보 개별 변수
///////////////////////////////////////////////////////////////////////////////////////
// 좌표 x y
// 옵셋 x y
// 개별 이미지 수치 width height
// 스프라이트 이미지 수치 total_width total_height
// 이미지 경로 image_path
///////////////////////////////////////////////////////////////////////////////////////
$icon2x-down-arrow-name: 'icon2x-down-arrow'
$icon2x-down-arrow-x: 0px
$icon2x-down-arrow-y: 0px
$icon2x-down-arrow-offset-x: 0px
$icon2x-down-arrow-offset-y: 0px
$icon2x-down-arrow-width: 30px
$icon2x-down-arrow-height: 30px
$icon2x-down-arrow-total-width: 30px
$icon2x-down-arrow-total-height: 30px
$icon2x-down-arrow-image: '../images/sprite/icon2x.png'

// 스프라이트 이미지 통합 변수
///////////////////////////////////////////////////////////////////////////////////////
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
///////////////////////////////////////////////////////////////////////////////////////
$icon2x-down-arrow: (0px, 0px, 0px, 0px, 30px, 30px, 30px, 30px, '../images/sprite/icon2x.png', 'icon2x-down-arrow', )

///////////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////////////
// 스프라이트 이미지 통합 정보를 담은 리스트
///////////////////////////////////////////////////////////////////////////////////////
// $spritesheet: width height image $spritesheet-sprites
///////////////////////////////////////////////////////////////////////////////////////
$icon2x-width: 30px
$icon2x-height: 30px
$icon2x-image: '../images/sprite/icon2x.png'
$icon2x-sprites: ($icon2x-down-arrow, )
$icon2x: (30px, 30px, '../images/sprite/icon2x.png', $icon2x-sprites, )

///////////////////////////////////////////////////////////////////////////////////////
// 스프라이트 개별 속성 믹스인
// @include sprite-width()
// @include sprite-height()
// @include sprite-position()
// @include sprite-image()
///////////////////////////////////////////////////////////////////////////////////////
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

///////////////////////////////////////////////////////////////////////////////////////
// 스프라이트 개별 믹스인
// @include sprite()
///////////////////////////////////////////////////////////////////////////////////////
@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// -----------------------------------------------------------------------------------
// 스프라이트 이미지 개별 믹스인 sprite() 사용법
// -----------------------------------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////
// <폴더명-이미지명>
// 개별 속성
// .icon-home
//   @include sprite-width($icon-home)
//   @include sprite-height($icon-home)

// 개별
// .icon-email
//   @include sprite($icon-email)
//////////////////////////////////////////////////////////////////////////////////////

// -----------------------------------------------------------------------------------
// HTML 마크업 사용법
// -----------------------------------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////
//   <div class="icon-home"></div>
//////////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////////////
// 스프라이트 통합 믹스인
// +sprites(<리스트>)
///////////////////////////////////////////////////////////////////////////////////////
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      display: inline-block
      @include sprite($sprite)

// -----------------------------------------------------------------------------------
// 스프라이트 이미지 통합 믹스인 sprites() 사용법
// -----------------------------------------------------------------------------------
// 자동으로 스프라이트 이미지 CSS 코드가 생성되지 않게 하려면 아래 코드를 주석으로 처리
+sprites($icon2x-sprites)
