<header class="gnb-menu">
  <div class="grid">
    <div class="brand">
      <a class="logo" href="">
        <img class="inject-svg" data-src="../../assets/images/icon-svg/logo.svg" src="../../assets/images/icon-png/logo.png" alt="SK"><span class="title">로고</span>
      </a>
    </div>
    <nav class="navigation">
      <ul>
        <li class="active"><a href="#">메뉴</a></li>
        <li><a href="#">메뉴</a></li>
        <li><a href="#">메뉴</a></li>
        <li><a href="#">메뉴</a></li>
      </ul>
    </nav>
    <div class="btn-log-set">
      <button class="btn-s-logout" type="button">로그인</button>
    </div>
  </div>
</header>