<!-- [Start] Paging Area -->
<div class="paging">
  <!-- <button class="first-prev" aria-label="처음으로 이동" type="button"></button> -->
  <button class="prev" aria-label="이전 페이지" type="button"></button>
  <div class="paging-number">
    <button type="button">1</button>
    <button type="button">2</button>
    <button type="button">3</button>
    <button type="button">4</button>
    <!-- 선택된 버튼 class="is-selected"로 제어 -->
    <button type="button" class="is-selected">5</button>
    <button type="button">6</button>
    <button type="button">7</button>
    <button type="button">8</button>
    <button type="button">9</button>
    <button type="button">10</button>
  </div>
  <button class="next" aria-label="다음 페이지" type="button"></button>
  <!-- <button class="last-next" aria-label="끝으로 이동" type="button"></button> -->
</div>
<!-- [End] Paging Area -->