@charset "UTF-8";
/* ======================================================================*/
/* [Font] 웹폰트 설정
/* ======================================================================*/
@font-face { font-family: "Noto Sans KR"; font-style: normal; font-weight: 300; src: local("Noto Sans Light"), local("NotoSans-Light"), url("../fonts/NotoSansKR/eot/NotoSansKR-Light.eot"), url("../fonts/NotoSansKR/eot/NotoSansKR-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR/woff/NotoSansKR-Light.woff") format("woff"), url("../fonts/NotoSansKR/otf/NotoSansKR-Light.otf") format("opentype"); }

@font-face { font-family: "Noto Sans KR"; font-style: normal; font-weight: 400; src: local("Noto Sans Regular"), local("NotoSans-Regular"), url("../fonts/NotoSansKR/eot/NotoSansKR-Regular.eot"), url("../fonts/NotoSansKR/eot/NotoSansKR-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR/woff/NotoSansKR-Regular.woff") format("woff"), url("../fonts/NotoSansKR/otf/NotoSansKR-Regular.otf") format("opentype"); }

@font-face { font-family: "Noto Sans KR"; font-style: normal; font-weight: 100; src: local("Noto Sans Thin"), local("NotoSans-Thin"), url("../fonts/NotoSansKR/eot/NotoSansKR-Thin.eot"), url("../fonts/NotoSansKR/eot/NotoSansKR-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR/woff/NotoSansKR-Thin.woff") format("woff"), url("../fonts/NotoSansKR/otf/NotoSansKR-Thin.otf") format("opentype"); }

@font-face { font-family: "Noto Sans KR"; font-style: normal; font-weight: 350; src: local("Noto Sans DemiLight"), local("NotoSans-DemiLight"), url("../fonts/NotoSansKR/eot/NotoSansKR-DemiLight.eot"), url("../fonts/NotoSansKR/eot/NotoSansKR-DemiLight.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR/woff/NotoSansKR-DemiLight.woff") format("woff"), url("../fonts/NotoSansKR/otf/NotoSansKR-DemiLight.otf") format("opentype"); }

@font-face { font-family: "Noto Sans KR"; font-style: normal; font-weight: 500; src: local("Noto Sans Medium"), local("NotoSans-Medium"), url("../fonts/NotoSansKR/eot/NotoSansKR-Medium.eot"), url("../fonts/NotoSansKR/eot/NotoSansKR-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR/woff/NotoSansKR-Medium.woff") format("woff"), url("../fonts/NotoSansKR/otf/NotoSansKR-Medium.otf") format("opentype"); }

@font-face { font-family: "Noto Sans KR"; font-style: normal; font-weight: 700; src: local("Noto Sans Bold"), local("NotoSans-Bold"), url("../fonts/NotoSansKR/eot/NotoSansKR-Bold.eot"), url("../fonts/NotoSansKR/eot/NotoSansKR-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR/woff/NotoSansKR-Bold.woff") format("woff"), url("../fonts/NotoSansKR/otf/NotoSansKR-Bold.otf") format("opentype"); }

@font-face { font-family: "Noto Sans KR"; font-style: normal; font-weight: 900; src: local("Noto Sans Black"), local("NotoSans-Black"), url("../fonts/NotoSansKR/eot/NotoSansKR-Black.eot"), url("../fonts/NotoSansKR/eot/NotoSansKR-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR/woff/NotoSansKR-Black.woff") format("woff"), url("../fonts/NotoSansKR/otf/NotoSansKR-Black.otf") format("opentype"); }

/*# sourceMappingURL=map/webfonts.css.map */
