// ===========================================================
// [Grid System] 레이아웃 구조 설계
// ===========================================================
.grid {
  // Small Mobile (0 ~ 360px)
  min-width: $col-sm;
  @include container;
  $susy: (
    // Columns
    columns: $col-sm-columns,
    // Gutters
    gutters: $col-sm-gutter / column-width($col-sm, $col-sm-columns, $col-sm-gutter, $col-sm-margin),
    // Column Width
    column-width: column-width($col-sm, $col-sm-columns, $col-sm-gutter, $col-sm-margin),
  );

  // Mobile (361px ~ 480px)
  @include susy-breakpoint( $col-m, $col-m-columns ) {
    @include container;
    $susy: (
      // Columns
      columns: $col-m-columns,
      // Gutters
      gutters: $col-m-gutter / (column-width($col-m, $col-m-columns, $col-m-gutter, $col-m-margin)),
      // Column Width
      column-width: column-width($col-m, $col-m-columns, $col-m-gutter, $col-m-margin),
    );
  }

  // Tablet (481px ~ 760px)
  @include susy-breakpoint( $col-t, $col-t-columns ) {
    @include container;
    $susy: (
      // Columns
      columns: $col-t-columns,
      // Gutters
      gutters: $col-t-gutter / (column-width($col-t, $col-t-columns, $col-t-gutter, $col-t-margin)),
      // Column Width
      column-width: column-width($col-t, $col-t-columns, $col-t-gutter, $col-t-margin),
    );
  }

  // Desktop (761px ~ 960px)
  @include susy-breakpoint( $col-d, $col-d-columns ) {
    @include container;
    $susy: (
      // Columns
      columns: $col-d-columns,
      // Gutters
      gutters: $col-d-gutter / (column-width($col-d, $col-d-columns, $col-d-gutter, $col-d-margin)),
      // Column Width
      column-width: column-width($col-d, $col-d-columns, $col-d-gutter, $col-d-margin),
    );
  }

  // Wide Desktop (961px ~ 1300px)
  @include susy-breakpoint( $col-wd, $col-wd-columns ) {
    @include container($col-wd);
    $susy: (
      // Columns
      columns: $col-wd-columns,
      // Gutters
      gutters: $col-wd-gutter / (column-width($col-wd, $col-wd-columns, $col-wd-gutter, $col-wd-margin)),
      // Column Width
      column-width: column-width($col-wd, $col-wd-columns, $col-wd-gutter, $col-wd-margin),
    );
  }
}