<div class="popup h-340px w-500px" data-id="@@dataId">
  <!-- [Start] 팝업 제목 -->
  <header class="popup-headline">
    <h2>Popup Title</h2>
    <button type="button" class="popup-close">Layer Popup Close</button>
  </header>
  <!-- [End] 팝업 제목 -->

  <!-- [Start] 팝업 컨텐츠 -->
  <div class="popup-content-box">

    <!-- [Start] 컨텐츠 내용 - Y축 스크롤 -->
    <div class="popup-content scroll-y">
      <p>이 곳에 팝업 상세내용 작성하시면 됩니다.</p>
    </div>
    <!-- [End] 컨텐츠 내용 - Y축 스크롤 -->

    <!-- [Start] 팝업 버튼 -->
    <div class="popup-btn-box">
      <button type="button" class="btn-m-popup" href="#">저장</button>
      <button type="button" class="btn-m-popup-light-gray popup-close" href="#">취소</button>
    </div>
    <!-- [End] 팝업 버튼 -->

  </div>
  <!-- [End] 팝업 컨텐츠 -->
</div>