// ===========================================================
// 블릿 스타일
// ===========================================================
@mixin blet($w: 3px, $h: 3px, $top: 16px, $left: 0, $right: null, $bg: #454c5f) {
    position: relative;
    &::before {
        position: absolute;
        top: $top;
        left: $left;
        right: $right;
        display: block;
        width: $w;
        height: $h;
        background: $bg;
        content: "";
    }
}