// ===========================================================
// 아이템 컬럼 분할 리스트 설정
// ===========================================================
@mixin list-type($num-of-columns, $num-gutter) {
  width: 100%;
  @include clearfix($extend: false);
  @for $i from 1 through $num-of-columns {
    &.col#{$i} {
      $gutter: $num-gutter * ($i - 1);
      $col: calc((100% - #{$gutter}) / #{$i});
      > li {
        float: left;
        width: $col;
        margin-right: $num-gutter;
        &:nth-of-type(#{ $i + n }) {
          margin-right: 0;
        }
      }
    }
  }
}