// ===========================================================
// 플러스(+) 모양
// ===========================================================
@mixin plus-shape($w: 13px, $h: 3px, $bef-t: 5px, $bef-r: 0, $bg: #5afeb6) {
  position: relative;
  &::before {
    position: absolute;
    top: $bef-t;
    right: $bef-r;
    width: $w;
    height: $h;
    background: $bg;
    content: "";
  }
  &::after {
    position: absolute;
    top: $bef-r;
    right: $bef-t;
    width: $h;
    height: $w;
    background: $bg;
    content: "";
    transform: rotate(0deg);
    transition: transform 0.25s ease;
  }
}