// ===========================================================
// 플레이스홀더 색상 정의
// ===========================================================
@mixin placeholder($phc) {
    &::-webkit-input-placeholder {
        color: $phc;
    }
    &::-moz-placeholder {
        color: $phc;
    }
    &:-ms-input-placeholder {
        color: $phc !important;
    }
    &:-moz-placeholder {
        color: $phc;
    }
}