// ===========================================================
// 폰트 어썸 호출
// ===========================================================
@mixin fa($icon: "", $fw: null, $color: null) {
  font-family: "Font Awesome 5 Free";
  content: $icon;
  font-weight: $fw;
  color: $color;
}

// ===========================================================
// SVG 아이콘 폰트 호출
// ===========================================================
@mixin icon-ie($icon: '', $color: null) {
  behavior: url(/assets/fonts/iconfont.htc);
  icon: $icon;
  color: $color;
}

@mixin icon($icon: '', $color: null) {
  font-family: "iconfont";
  content: $icon;
  color: $color;
}