// ===========================================================
// 화살표 방향 표시 스타일
// ===========================================================
@mixin arrow ($dir: bottom, $size: 20px, $color: #000) {
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-width: $size;
  border-style: solid;
  @if $dir == top {
    border-bottom-color: $color;
  }
  @else if $dir == top-left {
    border-bottom-color: $color;
    transform: rotate(-45deg);
  }
  @else if $dir == top-right {
    border-bottom-color: $color;
    transform: rotate(45deg);
  }
  @else if $dir == bottom {
    border-top-color: $color;
  }
  @else if $dir == bottom-left {
    border-top-color: $color;
    transform: rotate(-135deg);
  }
  @else if $dir == bottom-right {
    border-top-color: $color;
    transform: rotate(135deg);
  }
  @else if $dir == left {
    border-right-color: $color;
  }
  @else if $dir == right {
    border-left-color: $color;
  }
}