// ===========================================================
// 고해상도 배경 이미지 설정
// ===========================================================
@mixin retina-img ($class, $url, $retina) {
  @media only screen and (-webkit-min-device-pixel-ratio: $retina),
  only screen and (   min--moz-device-pixel-ratio: $retina),
  only screen and (     -o-min-device-pixel-ratio: #{$retina}/1),
  only screen and (        min-device-pixel-ratio: $retina),
  only screen and (                min-resolution: (96 * $retina) + dpi),
  only screen and (                min-resolution: ($retina) + dppx) {
    .#{$class} {
      background: url($url) no-repeat;
      background-size: 100% auto;
    }
  }
}