// ===========================================================
// 탭 제작 (탭 갯수, 거터 폭 입력)
// ===========================================================
@mixin tabs($class, $num-of-tabs, $gutter) {
    @include clearfix(false);
    @for $i from 1 through $num-of-tabs {
        #{$class} {
            float: left;
            width: percent($i);
            margin: 0 $gutter;
            &:first-child {
                padding-left: 0;
            }
            &:nth-child(#{$num-of-tabs}#{"n"}) {
                position: relative;
                padding-right: 0;
                margin-bottom: ($gutter * 2);
                + [role="tab"] {
                    padding-left: 0;
                }
            }
        }
    }
}