// ===========================================================
// 상하, 좌우 기준 레이아웃 가운데 정렬
// ===========================================================
@mixin wh-center ($position: relative, $h-percent: 50%, $w-percent: 50%) {
    position: $position;
    top: $h-percent;
    left: $w-percent;
    -webkit-transform: perspective(1px) translate(-$h-percent, -$w-percent);
    -moz-transform: perspective(1px) translate(-$h-percent, -$w-percent);
    transform: perspective(1px) translate(-$h-percent, -$w-percent);
}

// ===========================================================
// 좌우 기준 레이아웃 가운데 정렬
// ===========================================================
@mixin w-center ($position: relative, $w-percent: 50%) {
    position: $position;
    left: $w-percent;
    -webkit-transform: perspective(1px) translateX(-$w-percent);
    -moz-transform: perspective(1px) translateX(-$w-percent);
    transform: perspective(1px) translateX(-$w-percent);
}

// ===========================================================
// 상하 기준 레이아웃 가운데 정렬
// ===========================================================
@mixin h-center ($position: relative, $h-percent: 50%) {
    position: $position;
    top: $h-percent;
    -webkit-transform: perspective(1px) translateY(-$h-percent);
    -moz-transform: perspective(1px) translateY(-$h-percent);
    transform: perspective(1px) translateY(-$h-percent);
}