// ===========================================================
// 말줄임 처리
// ===========================================================
@mixin word-short($extend: true) {
    // 미디어쿼리 내부 사용 시 $extend: false 사용
    @if $extend {
        @extend %word-short;
    }
    @else {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
%word-short {
    @include word-short($extend: false);
}