// ===========================================================
// 버튼 기본 사이즈
// ===========================================================
@mixin btn-size($fz: null, $mw: null, $h: null, $p: null, $br: null) {
  position: relative;
  display: inline-block;
  min-width: $mw;
  height: $h;
  line-height: $h - 1;
  font-size: $fz;
  font-weight: $fw-light;
  text-align: center;
  border-radius: $br;
  padding: 0 $p;
}

// ===========================================================
// 버튼 기본 스타일
// ===========================================================
@mixin btn-style($color: null, $color-hover: null, $bg: null, $bd-color: null, $bg-hover: null, $bd-color-hover: null) {
  color: $color;
  background: $bg;
  border: 1px solid $bd-color;
  &:hover, &:focus {
    color: $color-hover;
    background: $bg-hover;
    border: 1px solid $bd-color-hover;
    transition: all .3s ease;
  }
  .icon {
    color: $color;
    vertical-align: middle;
  }
}
