// ===========================================================
// [Button] 공통 버튼
// ===========================================================
// 테이블버튼 사이즈 설정
[class*="btn-m-"]
  +btn-size($fz: 14px, $mw: 150px, $h: 34px, $p: 10px, $br: 3px)

// 팝업버튼, 기본버튼 사이즈 설정
[class*="btn-s-"],
[class*="btn-s-popup"]
  +btn-size($fz: 12px, $mw: 60px, $h: 20px, $p: 10px, $br: 3px)

// 버튼색 설정
[class*="btn-"][type="button"],
[class*="btn-"][role="button"]
  +btn-style($color: $text-dark-gray, $color-hover: $text-white, $bg: $bg-white, $bd-color: $bg-dark-gray, $bg-hover: $bg-dark-gray, $bd-color-hover: $bg-dark-gray)
  &[class*="-light-gray"]
    +btn-style($color: $text-gray, $color-hover: $text-white, $bg: $bg-light-gray, $bd-color: $bg-light-gray, $bg-hover: $bg-gray, $bd-color-hover: $bg-gray)
  &[class*="-orange"]
    +btn-style($color: $text-orange, $color-hover: $text-white, $bg: $bg-white, $bd-color: $bg-orange, $bg-hover: $bg-orange, $bd-color-hover: $bg-orange)
  &[class*="-light-orange"]
    +btn-style($color: $text-white, $color-hover: $text-white, $bg: $bg-light-orange, $bd-color: $bg-light-orange, $bg-hover:$bg-orange, $bd-color-hover: $bg-orange)
  width: span(full)
  +susy-breakpoint( $col-sm, $col-sm-columns )
    width: span(full)
  +susy-breakpoint( $col-m, $col-m-columns )
    width: span(4)
  +susy-breakpoint( $col-t, $col-t-columns )
    width: span(3)
  +susy-breakpoint( $col-d, $col-d-columns )
    width: span(3)
  +susy-breakpoint( $col-wd, $col-wd-columns )
    width: span(3)