// ===========================================================
// [Checkbox] 기본 스타일 정의
// ===========================================================
.check-box
  display: inline-block
  height: $checkbox-height
  line-height: $checkbox-height
  input
    position: absolute
    min-width: $checkbox-sz
    height: $checkbox-sz
    line-height: $checkbox-sz
    cursor: pointer
    opacity: 0
    + label
      position: relative
      padding-left: $checkbox-sz + 10
      color: $checkbox-color
      -webkit-transform-style: preserve-3d
      -moz-transform-style: preserve-3d
      transform-style: preserve-3d
      &::before, &::before
        +h-center ($position: absolute, $h-percent: 50%)
        left: 0
        display: inline-block
        color: $checkbox-color
        text-align: center
        width: $checkbox-sz
        height: $checkbox-sz
        border: 1px solid $checkbox-border
        border-radius: $checkbox-radius
        background: $checkbox-bg center no-repeat
        background-size: 120%
        -webkit-transition: all 0.1s ease
        -moz-transition: all 0.1s ease
        -o-transition: all 0.1s ease
        transition: all 0.1s ease
        content: ""
      span
        visibility: hidden
        position: absolute
        top: -9999px
        left: -9999px

    span
      display: inline-block
    &:focus
      + label
        &::before, &::before
          outline: none
          border-color: $checkbox-checked-border
    &:disabled
      cursor: no-drop
      + label
        cursor: no-drop
    &:checked:disabled
      cursor: no-drop
      + label
        cursor: no-drop

  input
    &:checked
      + label
        &::before,
        &::before
          background: $checkbox-checked-border url($checkbox-checked-png) center no-repeat
          background: $checkbox-checked-border url($checkbox-checked-svg) center no-repeat
          background-size: $checkbox-checked-width-size auto
          border-color: $checkbox-checked-border
    &:disabled
      + label
        cursor: no-drop
        &::before, &::before
          background-color: $checkbox-disabled-bg
          border-color: $checkbox-border
    &:checked:disabled
      + label
        cursor: no-drop
        &::before, &::before
          background: url($checkbox-disabled-png) center no-repeat
          background: url($checkbox-disabled-svg) center no-repeat
          background-color: $checkbox-disabled-bg
          background-size: $checkbox-checked-width-size auto
          border-color: $checkbox-border

    input
      + label
        padding-left: $checkbox-sz + 10
        line-height: $checkbox-height
        &::before, &::before
          width: $checkbox-sz
          height: $checkbox-sz