// ===========================================================
// [Pageing] 더보기
// ===========================================================
.paging {
  font-size: 0;
  text-align: center;
  margin-top: 30px;
  @extend %clearfix;
  button {
    position: relative;
    display: inline-block;
    min-width: 34px;
    height: 34px;
    font-size: $body-fz;
    color: $text-gray;
    vertical-align: top;
    border: 1px solid #d3d4d8;
    border-right-width: 0;
    &:last-child {
      border-right-width: 1px;
    }
    &::before,
    &::after {
      padding-top: 5px;
      text-align: center;
    }
    &:hover {
      color: $bg-orange;
      border-bottom: 2px solid $bg-orange;
    }
    &:focus,
    &.is-selected {
      background: $bg-orange;
      border-color: transparent;
      color: #fff;
      &:hover {
        border-bottom-width: 1px
      }
    }
    &.first-prev {
      &::before {
        @include fa($icon: "\f053", $fw: 900);
      }
      &::after {
        @include fa($icon: "\f053", $fw: 900);
      }
    }
    &.prev {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      &::before {
        @include fa($icon: "\f053", $fw: 900);
      }
    }
    &.last-next {
      &::before {
        @include fa($icon: "\f054", $fw: 900);
      }
      &::after {
        @include fa($icon: "\f054", $fw: 900);
      }
    }
    &.next {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      &::before {
        @include fa($icon: "\f054", $fw: 900);
      }
    }
  }
  .paging-number {
    display: inline-block;
    button {
      &:last-child {
        border-right-width: 0;
      }
    }
  }
}