// ===========================================================
// Skip Navigation
// ===========================================================
.skip-link
  position: absolute
  top: -35px
  display: inline-block
  width: 100%
  height: 35px
  line-height: 35px
  text-align: center
  background: #333
  &:hover, &:focus, &:active
    top: 0
    color: #efefef