// ===========================================================
// [Tab] 기본 탭 설정
// ===========================================================
// 탭 리스트
.tab-area
  position: relative
  @extend %clearfix
  .tab-list-group
    position: relative
    height: 50px
    z-index: 9
    &::before, &::before
      position: absolute
      left: 0
      right: 0
      bottom: 0
      height: 1px
      background: $tab-bg
      content: ""
    @extend %clearfix
    [role="tab"]
      position: relative
      display: inline-block
      float: left
      line-height: 48px
      text-align: center
      font-weight: $fw-regular
      border-top: 1px solid $tab-border
      border-left: 1px solid $tab-border
      border-right: 1px solid $tab-border
      &::before, &::before
        position: absolute
        left: 0
        right: 0
        bottom: -1px
        height: 1px
        background: $tab-bg-active
        content: ""
        z-index: 10
      &:focus, &:active, &.active
        border-top: 1px solid $tab-border-active
        border-left: 1px solid $tab-border-active
        border-right: 1px solid $tab-border-active
        &::before, &::before
          position: absolute
          left: 0
          right: 0
          bottom: -1px
          height: 1px
          background: #fff
          content: ""
          z-index: 10

// 탭 패널
.tab-area
  .tab-panel-group
    padding-top: 15px
    [role="tabpanel"]
      display: none
      &.active
        display: block

// ===========================================================
// [Tab] 기본 탭 설정 - 모바일로 접속 시 셀렉트로 변경
// ===========================================================
.tab-select
  .tab-select-toggle
    display: block
    width: 100%
    height: 40px
    line-height: 40px
    text-align: left
    padding-left: 10px
    margin-bottom: 20px
    background: #ffce5d
    position: relative

    &::before
      position: absolute
      top: 20px
      right: 15px
      width: 13px
      height: 3px
      background: #333
      content: ""

    &::after
      position: absolute
      top: 15px
      right: 20px
      width: 3px
      height: 13px
      background: #333
      content: ""
      transform: rotate(0deg)
      transition: transform 0.25s ease
  .tab-list-group
    display: none
    &.open
      display: block
  .tab-select-toggle
    &.open
      &::after
        transform: rotate(90deg)
        transition: transform 0.25s ease

  +susy-breakpoint( 760px )
    .tab-select-toggle
      display: none
    .tab-list-group
      display: block