// ===========================================================
// [Table] 기본 스타일 정의
// ===========================================================
table {
  &.table-base {
    width: 100%;
    background-color: $table-base-bg;
    thead {
      border-top: 1px $table-base-border solid;
      border-bottom: 1px $table-base-border solid;
      th {
        background-color: $table-base-bg-tit;
        border: 1px $table-base-border solid;
      }
    }
    @each $align-position in $table-base-col-position {
      &.col-#{$align-position} {
        tr {
          th, td {
            text-align: $align-position;
          }
        }
      }
    }
    tr {
      th {
        background-color: $table-base-bg-tit;
        border-top: 1px $table-base-border solid;
        border-bottom: 1px $table-base-border solid;
      }
      td {
        padding: $table-base-td-padding;
        border: 1px $table-base-border solid;
      }
      th, td {
        height: $table-base-row-height;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @each $align-position in $table-base-col-position {
          &.col-#{$align-position} {
            text-align: $align-position;
          }
        }
        &:first-child {
          border-left: 1px solid $bg-white;
        }
        &:last-child {
          border-right: 1px solid $bg-white;
        }
      }
    }
  }
}