// ===========================================================
// [Textarea] 기본 스타일 정의
// ===========================================================
textarea
  vertical-align: top
  padding: 10px
  border: $textarea-border-width solid $textarea-border-color
  background: $textarea-bg
  border-radius: $textarea-border-radius !important
  &:focus
    border:
      width: $textarea-border-width
      style: solid
      color: $textarea-border-focus
  +placeholder($textarea-placeholder)
  &.full
    width: 100%

.textarea-box
  display: inline-block
  textarea
    vertical-align: top
    padding: 10px
    border: $textarea-border-width solid $textarea-border-color
    background: $textarea-bg
  &:focus
    border:
      width: $textarea-border-width
      style: solid
      color: $textarea-border-focus
  label
    display: hidden