// ===========================================================
// [Font] 언어 설정
// ===========================================================
html
  font-size: $html-fz
  body
    font-family: $ff-webfont
    font-weight: $fw-light
    font-size: $body-fz
    font-size: rem($body-fz)
    line-height: $line-height-scale
    color: $font-base

// ===========================================================
// [Font] 기본 설정 & 레티나 지원 (2x까지 지원)
// ===========================================================
body
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2 / 1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx)
    -webkit-font-smoothing: antialiased

// ===========================================================
// [Typography] 타이포그라피 설계
// ===========================================================
// 제목 폰트
h1, h2, h3, h4, h5
  font-weight: $fw-regular
  color: $font-title

// 행간 비율
h1, h2, h3, h4, h5, p, small
  line-height: $line-height-scale

// 제목 폰트 사이즈
h1
  font-size: $h1-fz
h2
  font-size: $h2-fz
h3
  font-size: $h3-fz
h4
  font-size: $h4-fz
h5
  font-size: $h5-fz

// 본문 폰트 사이즈
p
  font-size: $ph-fz
  strong
    font-weight: $fw-regular

// 본문 보조 폰트 사이즈
small
  display: inline-block
  font-size: $small-fz
  strong
    font-weight: $fw-regular