<!-- Style : Favicon Style -->
  <link rel="apple-touch-icon" sizes="57x57" href="@@webRoot/assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="@@webRoot/assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="@@webRoot/assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="@@webRoot/assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="@@webRoot/assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="@@webRoot/assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="@@webRoot/assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="@@webRoot/assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="@@webRoot/assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="@@webRoot/assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="@@webRoot/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="@@webRoot/assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="@@webRoot/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="@@webRoot/assets/favicon/manifest.json">
  <!-- Style : Fontawesome Style -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css?ver=4.9.1" media="none" onload="if(media!='all')media='all'" >
  <!-- Style : UI Common -->
  <link rel="stylesheet" href="@@webRoot/assets/css/@@styleFont.markup" media="none" onload="if(media!='all')media='all'" />
  <!-- Style : Library Common -->
  <link rel="stylesheet" href="@@webRoot/assets/css/@@styleCommon.markup" />