<!-- 콘텐츠 제목 -->
<meta property="og:title" content="@@ogTitle">
<!-- 웹페이지 URL -->
<meta property="og:url" content="@@ogUrl">
<!-- 웹페이지 타입(blog, website 등) -->
<meta property="og:type" content="@@ogType">
<!-- 표시되는 이미지 -->
<meta property="og:image" content="@@ogImage">
<!-- 웹사이트 이름(URL과 다름) -->
<meta property="og:site_name" content="@@ogSiteName">
<!-- 웹페이지 설명(제목 아래에 표시) -->
<meta property="og:description" content="@@ogDescription">
<!-- 트위터 카드 타입(요약정보, 사진, 비디오) -->
<meta name="twitter:card" content="@@twitterCard">
<!-- 콘텐츠 제목 -->
<meta name="twitter:title" content="@@twitterTitle">
<!-- 웹페이지 설명 -->
<meta name="twitter:description" content="@@twitterDescription">
<!-- 표시되는 이미지 -->
<meta name="twitter:image" content="@@twitterImage">
<!-- ios 앱 URL -->
<meta property="al:ios:url" content="@@alIosUrl">
<!-- ios 앱스토어 ID -->
<meta property="al:ios:app_store_id" content="@@alIosAppStoreId">
<!-- ios 앱 이름 -->
<meta property="al:ios:app_name" content="@@alIosAppName">
<!-- 안드로이드 앱 URL -->
<meta property="al:android:url" content="@@alAndroidUrl">
<!-- 안드로이드 앱 이름 -->
<meta property="al:android:app_name" content="@@alAndroidAppName">
<!-- 안드로이드 패키지 이름 -->
<meta property="al:android:package" content="@@alAndroidPackage">
<!-- 안드로이드 앱 URL -->
<meta property="al:web:url" content="@@alWebUrl">