/* ======================================================== */

/* [ Version      ] common.css v0.1.0 © geulrara.design
/* [ Author       ] 정인영
/* [ Inquiry      ] geulrara.design@gmail.com geulrara.design@gmail.com
/* [ Date Updated ] 2018.06.19
/* ======================================================== */

// ===========================================================
// [Common] 공통 UI 설정
// ===========================================================
@import "base/framework";
@import "base/reset-css";
@import "base/common-ui";

/* ======================================================== */
/* [Layout] Container
/* ======================================================== */
// 컨테이너 설정
.container {
  min-width: 1360px;
  min-height: 760px;
  padding: 30px $col-wd-margin 30px $col-wd-margin;
  // 타이틀 설정
  .sub-title {
    padding-top: 2px;
    padding-bottom: 12px;
  }
}

/* ======================================================== */
/* [Header] GNB
/* ======================================================== */
.gnb-menu {
  min-width: 1360px;
  height: 60px;
  padding: 0 90px;
  background-color: $bg-white;
  border-bottom: 1px solid $bg-light-gray;
  .brand {
    @include span(3);
    .logo {
      position: relative;
      cursor: pointer;
      svg, img {
        width: 44px;
        height: 35px;
        vertical-align: -9px;
        margin-right: 24px;
      }
    }
    .title {
      font-size: 20px;
      font-weight: bold;
      line-height: 60px;
    }
  }
  .navigation {
    @include span(isolate 7 at 2 nest);
    ul {
      @include clearfix();
      li {
        float: left;
        width: 150px;
        height: 60px;
        line-height: 60px;
        &.active {
          a {
            color: $text-orange;
          }
        }
        &:hover, &fouce {
          border-bottom: 2px solid $text-orange;
        }
        a {
          display: block;
          font-size: 20px;
          font-weight: $fw-regular;
          text-align: center;
        }
      }
    }
  }
  .btn-log-set {
    @include span(1 last);
    text-align: right;
    .btn-s-logout {
      vertical-align: -19px;
    }
  }
}

/* ======================================================== */
/* [Search] 검색 조건 영역
/* ======================================================== */
.search-el-box {
  height: 50px;
  background: #f7f4ec;
  padding: 0 20px;
  margin-bottom: 32px;
  font-size: 0;
  .select-box {
    margin-top: 8px;
    margin-right: 20px;
    label {
      display: inline-block;
      margin-right: 8px;
    }
  }
  > label {
    display: inline-block;
    margin-top: 8px;
    span {
      display: inline-block;
      line-height: 34px;
      margin-right: 8px;
    }
    input {
      margin-right: 20px;
      min-width: 200px;
    }
    @include ie10(input, min-width, 200px);
    @include ie11(input, min-width, 200px);
  }
  .search-btn-box {
    float: right;
    @include clearfix;
    margin-top: 8px;
    .btn-m-search-light-orange {
      min-width: 60px;
    }
  }
}

/* ======================================================== */
/* [Table] 테이블 상단 버튼
/* ======================================================== */
.table-base {
  tr, td {
    .check-box, .radio-button {
      margin-top: 1px;
      label.hidden {
        padding-left: $checkbox-sz;
      }
      @include ie10("label.hidden", "padding-left", $checkbox-sz - 1);
      @include ie11("label.hidden", "padding-left", $checkbox-sz - 1);
    }
  }
  &.low-hover {
    tr {
      &:hover, &:focus {
        background-color: $table-base-row-hover;
      }
    }
  }
}
.table-popup {
  @extend .table-base;
  th, td {
    height: 50px !important;
    padding: 0 10px !important;
    .check-box, .radio-button {
      margin-top: 7px;
      margin-left: 18px;
    }
    textarea {
      margin: 6px 0;
    }
  }
}
.table-out-btn-box {
  float: right;
  font-size: 0;
  padding: 0 20px;
  margin-bottom: 14px;
  button {
    min-width: 60px;
    margin-left: 10px;
  }
}
.table-in-btn-box {
  font-size: 0;
  button {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}