/* ======================================================== */
/* [ Version      ] guide.css v0.1.0 © geulrara.design
/* [ Author       ] 정인영
/* [ Inquiry      ] geulrara.design@gmail.com
/* [ Date Updated ] 2019.02.25
/* ======================================================== */

// ===========================================================
// UI Kit Framework import
// ===========================================================
@import "base/framework"
@import "base/reset-css"
@import "base/common-ui"

// ===========================================================
// Libraries import
// ===========================================================
@import lib/jquery.mCustomScrollbar

// ===========================================================
// [UI Kit] 공통 UI 설명
// ===========================================================
body
  background: #f3f3f3
  padding: rem(40px) rem(20px)
// 진행예정
.wbs-scheduled
  background: #fff2cc !important
// 진행중
.wbs-proceed
  background: #d9ead3 !important
// 완료
.wbs-completed
  background: #cfe2f3 !important
// 재수정
.wbs-rework
  background: #d9d2e9 !important
// 보류, 휴가
.wbs-hold
  background: #fce5cd !important
// 지연
.wbs-delay
  background: #f4cccc !important

.ui-kit
  section
    > .title
      position: relative
      font-size: rem(34px)
      color: #1566c1
      letter-spacing: -0.03em
      padding-bottom: rem(10px)
      border-bottom: 1px solid #cad4e0
      margin-bottom: rem(20px)

    > .markup-title
      font-size: rem(24px)
      font-weight: 200
      color: #aaa
      margin-top: rem(30px)
      margin-bottom: rem(10px)
      clear: both

  pre, code
    font-family: $ff-webfont
    font-weight: $fw-light
    line-height: $base-line

  strong
    font-weight: 500
    color: #000

  .markup-group
    min-width: 320px
    padding: $base-line
    background: #fff
    border: 1px solid #e2e2e2
    &:last-child
      margin-bottom: $base-line

    .markup-sub-title
      color: #69c
      margin-top: 20px
      margin-bottom: 10px
      &:first-child
        margin-top: 0
      &::before
        +fa($icon: "\f02b")
        font-size: rem(16px)
        font-weight: 900
        vertical-align: baseline
        padding-right: rem(10px)

// ===========================================================
// 마크업 스킨 다운 스타일
// ===========================================================
.ui-kit-comment
  padding: 15px
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px
  border: 15px solid #eff4f7
  margin-top: -55px
  margin-bottom: 40px
  &:last-child
    margin-bottom: 0
  .red
    color: #e51d68
  .blue
    color: #257de0
  .gray
    color: #999

.ui-kit
  &:not(pre) > code[class*="language-"]
    padding: .1em
    border-radius: .3em
    white-space: normal
  pre[class*="language-"]
    position: relative
    color: inherit
    background: none
    text-align: left
    white-space: pre-wrap
    line-height: 1.5
    -moz-tab-size: 4
    -o-tab-size: 4
    tab-size: 4
    -webkit-hyphens: none
    -moz-hyphens: none
    -ms-hyphens: none
    hyphens: none
    padding: 65px 30px 30px 30px
    margin-top: 15px
    margin-bottom: 40px
    border-radius: 10px
    background: #eff4f7
    overflow: auto
    &::-moz-selection,
    ::-moz-selection
      text-shadow: none
    &:last-child
      margin-bottom: 0
    &::before
      position: absolute
      top: 20px
      left: 30px
      font-size: rem(18px)
      font-weight: bold
      color: #002847
    .copy
      position: absolute
      top: 30px
      right: 30px
      font-size: rem(14px)
      color: #fff
      padding: 2px 8px 4px 8px
      border-radius: 6px
      background: #bcd0dc
      cursor: pointer
      &:hover, &:focus
        background: #002847
    &[class*="-html"]
      &::before
        content: "HTML"
    &[class*="-css"]
      &::before
        content: "CSS"
    &[class*="-scss"]
      &::before
        content: "SCSS"
    &[class*="-sass"]
      &::before
        content: "Sass"
    &[class*="-js"]
      &::before
        content: "JS"

  .token
    &.comment, &.prolog, &.doctype, &.cdata
      color: slategray
    &.punctuation
      color: #999
    &.property, &.tag, &.boolean, &.number, &.constant, &.symbol, &.deleted
      color: #905
    &.selector, &.attr-name, &.string, &.char, &.builtin, &.inserted
      color: #690
    &.operator, &.entity, &.url
      color: #a67f59
    &.atrule, &.attr-value, &.keyword
      color: #07a
    &.function
      color: #DD4A68
    &.regex, &.important, &.variable
      color: #e90
    &.important, &.bold
      font-weight: bold
    &.italic
      font-style: italic
    &.entity
      cursor: help

  .language-css, .language-sass, .language-scss, .style
    .token.string
      color: #a67f59

  .namespace
    opacity: .7

.code-box-copy
  position: relative
  .code-box-copy__btn
    position: absolute
    top: 20px
    right: 20px
    font-size: rem(12px)
    color: #fff
    text-shadow: 0 0 1px #003359
    padding: 2px 10px 6px 10px
    border: 1px solid #003761
    border-radius: 8px
    background: #003761
    z-index: 1000
    &::before
      content: "Copy"
      text-align: center

// ===========================================================
// 컬러시스템
// ===========================================================
.color-set-message
  color: #999
  padding: 0 0 10px $base-line
  border-bottom: 1px solid #eee
  margin-top: -10px
  margin-bottom: $base-line

.main-color-set
  @extend %clearfix
  li
    +span(full)
    margin-bottom: $base-line
    .bgcolor
      height: $base-line * 2
      border: 1px solid #e2e3e6
      margin-bottom: $base-line
  +susy-breakpoint(480px, 4)
    li
      +gallery(1 of 2)
  +susy-breakpoint(760px, 8)
    li
      +gallery(1 of 4)
  +susy-breakpoint(1360px, 12)
    li
      +gallery(1 of 6)

.text-color-set
  @extend .main-color-set

.bg-color-set
  @extend .main-color-set

// ===========================================================
// 타이포그라피
// ===========================================================
.typography-area
  @extend %clearfix
  .typography-wrap
    &:hover, &:focus
      background: linear-gradient(transparent (10px - 1), rgba(205, 205, 205, 1) 10px)
      background-size: 1px 10px
      .h1, .h2, .title, p
        background: hsla(0, 0%, 0%, 0.05)
  .typography-wrap
    padding: 10px
    > .title
      font-size: 24px
      color: $bg-orange
      padding: 1px 0
      margin-top: 10px
      margin-bottom: 20px
      border-top: 1px solid $bg-orange
    +span(full)
    +susy-breakpoint(760px, 12)
      +span(6)
      &:last-child
        +last
    .root-font
      padding: 4px 0
      margin-bottom: 10px
    .font-info
      padding: 3px 0
      margin-bottom: 10px
    .font-small
      margin-bottom: 10px
      small
        padding: 5px 0
    .font-body
      padding: 4px 0
      margin-bottom: 10px
    .h2
      font-size: 20px
      font-weight: $fw-regular
      padding: 5px 0
      margin-bottom: 10px
    .h1
      font-size: 24px
      font-weight: $fw-regular
      padding: 7px 0

// ===========================================================
// 버튼 타입
// ===========================================================
.btn-set
  font-size: 0
  @extend %clearfix
  margin-bottom: 10px
  [role="button"], [type="button"]
    margin-right: 10px
    &:last-child
      margin-right: 0

// ===========================================================
// 탭 타입
// ===========================================================
.tab-area
  .tab-list-group
    @for $i from 2 through 5
      &.col-#{$i}
        [role="tab"]
            width: 100%

      +susy-breakpoint(480px)
        @for $i from 2 through 5
          &.col-#{$i}
            [role="tab"]
              width: percent($i)

      +susy-breakpoint(760px)
        @for $i from 2 through 5
          &.col-#{$i}
            [role="tab"]
              width: percent($i)

      +susy-breakpoint(1360px)
        @for $i from 2 through 5
          &.col-#{$i}
            [role="tab"]
              width: percent($i)

.btn-popup
  width: span(1) !important

// ===========================================================
// 체크박스, 라디오버튼 타입
// ===========================================================
.markup-group
  .check-box
    margin-right: 20px