/* ======================================================================*/
/* [Font] 웹폰트 설정
/* ======================================================================*/
// 폰트 경로 설정 (본고딕)
$font-root: "../fonts/NotoSansKR";

// 본문 폰트 사용
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans Light"), local("NotoSans-Light"),
  url("#{$font-root}/eot/NotoSansKR-Light.eot"),
  url("#{$font-root}/eot/NotoSansKR-Light.eot?#iefix") format("embedded-opentype"),
  url("#{$font-root}/woff/NotoSansKR-Light.woff") format("woff"),
  url("#{$font-root}/otf/NotoSansKR-Light.otf") format("opentype");
}

// 제목 폰트 사용
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans Regular"), local("NotoSans-Regular"),
  url("#{$font-root}/eot/NotoSansKR-Regular.eot"),
  url("#{$font-root}/eot/NotoSansKR-Regular.eot?#iefix") format("embedded-opentype"),
  url("#{$font-root}/woff/NotoSansKR-Regular.woff") format("woff"),
  url("#{$font-root}/otf/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: local("Noto Sans Thin"), local("NotoSans-Thin"),
  url("#{$font-root}/eot/NotoSansKR-Thin.eot"),
  url("#{$font-root}/eot/NotoSansKR-Thin.eot?#iefix") format("embedded-opentype"),
  url("#{$font-root}/woff/NotoSansKR-Thin.woff") format("woff"),
  url("#{$font-root}/otf/NotoSansKR-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 350;
  src: local("Noto Sans DemiLight"), local("NotoSans-DemiLight"),
  url("#{$font-root}/eot/NotoSansKR-DemiLight.eot"),
  url("#{$font-root}/eot/NotoSansKR-DemiLight.eot?#iefix") format("embedded-opentype"),
  url("#{$font-root}/woff/NotoSansKR-DemiLight.woff") format("woff"),
  url("#{$font-root}/otf/NotoSansKR-DemiLight.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans Medium"), local("NotoSans-Medium"),
  url("#{$font-root}/eot/NotoSansKR-Medium.eot"),
  url("#{$font-root}/eot/NotoSansKR-Medium.eot?#iefix") format("embedded-opentype"),
  url("#{$font-root}/woff/NotoSansKR-Medium.woff") format("woff"),
  url("#{$font-root}/otf/NotoSansKR-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"),
  url("#{$font-root}/eot/NotoSansKR-Bold.eot"),
  url("#{$font-root}/eot/NotoSansKR-Bold.eot?#iefix") format("embedded-opentype"),
  url("#{$font-root}/woff/NotoSansKR-Bold.woff") format("woff"),
  url("#{$font-root}/otf/NotoSansKR-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: local("Noto Sans Black"), local("NotoSans-Black"),
  url("#{$font-root}/eot/NotoSansKR-Black.eot"),
  url("#{$font-root}/eot/NotoSansKR-Black.eot?#iefix") format("embedded-opentype"),
  url("#{$font-root}/woff/NotoSansKR-Black.woff") format("woff"),
  url("#{$font-root}/otf/NotoSansKR-Black.otf") format("opentype");
}