/* ======================================================== */
/* [Reset CSS] Base Style
/* ======================================================== */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, figure, legend, input, textarea, button, p, blockquote, th, td, form, fieldset, blockquote, iframe
  margin: 0
  padding: 0
  -moz-text-size-adjust: none
  -ms-text-size-adjust: none
  -webkit-text-size-adjust: none
  text-size-adjust: none

article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, section, summary
  display: block

audio, canvas, progress, video
  display: inline-block
  vertical-align: baseline

html *
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
  word-wrap: break-word
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

audio:not([controls])
  display: none
  height: 0

[hidden], template
  display: none

abbr[title]
  border-bottom: 1px dotted

b, strong
  font-weight: bold

dfn
  font-style: italic

mark
  background: #ff0
  color: #000

small
  font-size: 80%

sub, sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.25em

svg:not(:root)
  overflow: hidden

figure
  margin: 1em 40px

hr
  -moz-box-sizing: content-box
  box-sizing: content-box
  height: 0

pre
  overflow: auto

button, input, optgroup, select, textarea
  color: inherit
  font: inherit
  margin: 0
  outline: none

button
  overflow: visible

button, select
  text-transform: none
  -webkit-appearance: button
  -moz-appearance: button
  -webkit-user-select: none
  -moz-user-select: none
  text-overflow: ellipsis
  white-space: nowrap

button,
html input[type="button"],
input[type="reset"],
input[type="submit"]
  -webkit-appearance: button
  cursor: pointer

button[disabled],
html input[disabled]
  cursor: default

button::-moz-focus-inner,
input::-moz-focus-inner
  border: 0
  padding: 0

input
  line-height: normal

input[type="checkbox"],
input[type="radio"]
  box-sizing: border-box
  padding: 0

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
  height: auto

input[type="search"]
  -webkit-appearance: textfield
  -moz-box-sizing: content-box
  -webkit-box-sizing: content-box
  box-sizing: content-box

input[type="range"]
  min-width: inherit
  height: inherit
  line-height: inherit
  padding: inherit
  border: inherit
  background: inherit
  vertical-align: inherit

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
  -webkit-appearance: none


input[type="date"]::-webkit-clear-button
  display: none
input[type="date"]::-webkit-inner-spin-button
  display: none
input[type="date"]::-webkit-calendar-picker-indicator
  color: $text-gray
  background: $bg-white
  opacity: 0
input[type="date"]
  appearance: none
  -webkit-appearance: none
  display: inline-block !important
  visibility: visible !important
input[type="date"], input[type="date"]:focus
  box-shadow: none
  -webkit-box-shadow: none
  -moz-box-shadow: none

input
  color: inherit
  &::-webkit-input-placeholder
    color: inherit
  &::-moz-placeholder
    color: inherit
  &:-ms-input-placeholder
    color: inherit !important
  &:-moz-placeholder
    color: inherit
  &:focus
    border: 0
  &:focus::-webkit-input-placeholder
    color: transparent
  &:focus:-moz-placeholder
    color: transparent
  &:focus::-moz-placeholder
    color: transparent
  &:focus:-ms-input-placeholder
    color: transparent

input
  &[type="reset"], &[type="button"], &[type="submit"]
    line-height: normal !important
    cursor: pointer
  &[type="button"], &[type="text"], &[type="image"], &[type="submit"]
    -webkit-appearance: none
    -webkit-border-radius: 0
  &:checked[type="checkbox"]
    background-color: #fff
    -webkit-appearance: checkbox

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill
  -webkit-text-fill-color: inherit
  -webkit-box-shadow: 0 0 0px 1000px white inset

fieldset
  border: 0

textarea
  overflow: auto

optgroup
  font-weight: bold

command, datalist, keygen, mark, meter, progress, rp, rt, ruby, time, wbr
  display: inline

img
  vertical-align: top
  border: 0

ul, ol, li
  list-style: none

hr
  display: none
  border: 0

pre
  white-space: pre-wrap

legend, caption
  display: none
  clear: both
  border: 0
  padding: 0

a
  color: inherit
  cursor: pointer
  &:link
      text-decoration: none
  &:hover, &:focus, &:active
      text-decoration: none

h1, h2, h3, h4, h5, h6
  word-break: keep-all

em, i, address, cite
  font-style: normal
  font-weight: normal

input, textarea, select, button, table
  font-size: $body-fz
  font-family: inherit
  *font-size: inherit
  border: 0
  background: transparent

button, select
  cursor: pointer

textarea
  resize: none

label
  font-size: $body-fz
  cursor: pointer

table
  table-layout: fixed
  border-collapse: collapse
  border-spacing: 0

th, td
  padding: 0
  border-collapse: collapse

select
  -webkit-appearance: none
  -ms-appearance: none
  -moz-appearance: none
  appearance: none
  box-sizing: border-box
  appearance: none

progress[value]
  appearance: none
  -moz-appearance: none
  -webkit-appearance: none
  border: none
  background-size: auto
  &[role][aria-valuenow]
    appearance: none
    -moz-appearance: none
    -webkit-appearance: none
    border: none
    background-size: auto
    &::after
      background-image: none
    &::before
      display: table
    strong
      display: none
    &::-webkit-progress-value, &::-webkit-progress-inner-element
      display: table
    &::-webkit-progress-bar
      display: table-cell
    &::-moz-progress-bar, &::-webkit-progress-value
      display: table

textarea
  color: inherit
  &:focus::-webkit-input-placeholder
    color: transparent
  &:focus:-moz-placeholder
    color: transparent
  &:focus::-moz-placeholder
    color: transparent
  &:focus:-ms-input-placeholder
    color: transparent

@media print
  code[class*="language-"], pre[class*="language-"]
    text-shadow: none
  html *
    color: #000
    background: #fff